.es-entry {
  margin-bottom: 25px;

  &__title {
    //...
    font-family: RobotoCondensed-BoldItalic;
    font-size: 36px;
    color: #00369C;
  }

  &__subtitle {
    //...
    font-family: RobotoCondensed-BoldItalic;
    font-size: 18px;
    color: #3E3E3E;
    text-align: center;
  }

  &__content {
    //...

  }
}
