.es-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background: $header-background;
  padding: 20px 10px 10px 10px;
  transform: skewY(-3deg) translateY(0px);
  transform-origin: left top;
  transform-style: preserve-3D;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  &__logo {
    transform: skewY(3deg);
    transform-origin: left top;
  }

  &__title-wrapper {
    transform: skewY(3deg); // undo the skew — otherwise it would fuck up the click target area

  }

  &__title {
    color: $header;
    font-family: Roboto Condensed, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-end;
    transform: skewY(-3deg);
  }

  &__filter-delim {
    color: $header;
    margin-left: 8px;
    margin-right: 8px;
  }

  &__filter-item {
    // &:first-of-type {
    //   cursor: inherit;

    //   &:hover {
    //     text-decoration: none;
    //   }
    // }

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 630px) {
  .es-header {
    left: calc(50vw - 630px / 2);
    width: 610px;
  }
}
