// colors
$primary: #00369C;
$black: #1b1b1b;
$white: #fdfdfd;
$grey: #DEDEDE;
$darkgrey: rgb(153, 153, 153);
$darkwood: #3E3E3E;
$highlight: #6FC6C2;

// animation
$animation-duration: 0.4s;
$animation-type: ease-in;

// sizes
$desktop: 724px;
