// colors
$primary: #ffffff;
$secondary: rgb(17, 207, 134);
$black: #343844;
$grey: #818D92;
$white: #F3F3F3;

// header
$header: $black;
$header-background: $secondary;

// list
$title: $black;
$link: $secondary;
$app-background: $white;

// desktop bg
$background: #E1E1E0;

// animation
$animation-duration: 0.4s;
$animation-type: ease-in;

// sizes
$desktop: 724px;
