// colors
$primary: #1B98E0;
$secondary: #FED766;
$black: #272727;
$white: #EFF1F3;
$grey: #696773;

$link: $grey;

// animation
$animation-duration: 0.4s;
$animation-type: ease-in;

// sizes
$desktop: 724px;
